@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');

article#cover {
    height: 100vh;

    h1 {
        font-size: 45px;
    }

    h1,
    h2 {
        font-family: 'Adamina', sans-serif;
    }
}